<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--=============== REMIXICON ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

        <title>Fit For Life</title>
    </head>
    <body>
        <!--==================== MAIN ====================-->
        <main class="main">

            <!--==================== MESSAGES ====================-->
            
            <!--==================== SIGN UP ====================-->
            <section class="calculate section">
                <div class="calculate__container container grid">
                    <div class="calculate__content">
                        <div class="section__titles">
                            <h1 class="section__title-border">SIGN UP</h1>
                            <h1 class="section__title">TODAY</h1>
                        </div>
                        <p class="calculate__description">
                            Fill out your information below:
                        </p>
                        <form method="POST" class="calculate__form">
                            <div class="calculate__box">
                                <input 
                                    type="email" 
                                    placeholder="Email" 
                                    class="calculate__input" 
                                    id="email" 
                                    name="email"
                                />
                                <label for="email" class="calculate__label"></label>
                            </div>
                            <div class="calculate__box">
                                <input 
                                    type="text" 
                                    placeholder="First Name" 
                                    class="calculate__input" 
                                    id="firstName"
                                    name="firstName"
                                />
                                <label for="firstName" class="calculate__label"></label>
                            </div>
                            <div class="calculate__box">
                                <input 
                                    type="password" 
                                    placeholder="Password" 
                                    class="calculate__input" 
                                    id="password1"
                                    name="password1"
                                />
                                <label for="password1" class="calculate__label"></label>
                            </div>
                            <div class="calculate__box">
                                <input 
                                    type="password" 
                                    placeholder="Confirm Password" 
                                    class="calculate__input" 
                                    id="password2"
                                    name="password2"
                                />
                                <label for="password2" class="calculate__label"></label>
                            </div>
                            <button type="submit" class="button button__flex">
                                Sign up <i class="ri-arrow-right-line"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src=""></script>

        <!--=============== EMAIL JS ===============-->
        
        
        <!--=============== MAIN JS ===============-->
        <script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
    </body>
</html>