<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--=============== REMIXICON ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

        <title>Fit For Life</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="index" class="nav__logo">
                    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo">
                </a>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="about" class="nav__link">About Us</a>
                        </li>
                        <li class="nav__item">
                            <a href="membership" class="nav__link">Memberships</a>
                        </li>
                        <li class="nav__item">
                            <a href="class" class="nav__link">Classes</a>
                        </li>
                        <li class="nav__item">
                            <a href="location" class="nav__link">Locations</a>
                        </li>
                        <li class="nav__item">
                            <a href="faq" class="nav__link">FAQs</a>
                        </li>
                        <li class="nav__item">
                            <a href="contact" class="nav__link">Contact Us</a>
                        </li>
                        <div class="nav__link">
                            <a href="#footer" class="button nav__button">
                                Join Now
                            </a>
                        </div>
                    </ul>
                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
                <!-- Toggle Button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </nav>
            
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
                <div class="home__container">
                    <h1 class="home__title">TERMS AND CONDITIONS</h1>
                    <h2 class="home__subtitle">ADDITIONAL PRIVACY POLICY INFORMATION</h2>
                    <p class="home__description">
                        **1. Introduction**

Welcome to Fit for Life 24! By accessing and using our text & email messaging services, you agree to be bound by the following Terms of Service (“TOS”). Please read these terms carefully before opting-in and using our services. These terms govern your relationship with Fit for Life 24 concerning the use of business to user texting, email and phone communication. If you do not agree to these terms, please do not use our texting services.

 

**2. Business to User Texting and Compliance Standards**

2.1. **10DLC and A2P Compliance**: Fit for Life 24 is committed to maintaining compliance with 10DLC (10-Digit Long Code) and A2P (Application-to-Person) messaging standards. Our messaging campaigns adhere to the guidelines and regulations set forth by relevant authorities to ensure secure and legitimate communications.

 

**3. Opt-In and Permission**

3.1. **Express Consent**: We will only send text messages or email notifications to individuals who have explicitly opted-in and provided their consent to receive communications from Fit for Life 24. By opting-in, you agree to receive promotional, informational, and transactional SMS messages related to our products, services, and promotions.

3.2. By opting-in and using our text messaging services, you agree to these Terms of Service and our Privacy Policy. If you do not agree to any of the terms stated herein, please do not use our services.

 

**4. Unsubscribing and Removal from Text Permission List**

4.1. **Unsubscribe**: If you no longer wish to receive text messages from Fit for Life 24, you can simply text “STOP” to the provided number. Upon receiving your “STOP” text, we will promptly remove your number from our text permission list, and you will no longer receive messages from us.

4.2. **Unsubscribe to email**: If you no longer wish to receive emails from Fit for Life 24, please click the unsubscribe button at the bottom of any email and then you will be taken to a page to confirm that you would like to be removed from our email list.

 

**5. Help**

5.1. **Help**: If you require assistance or have any questions related to our text messaging services, you can text “HELP” to the provided number. We will provide you with relevant support information to address your concerns.

5.2. **Re-Subscription**: Should you wish to resubscribe to our text messaging campaigns after previously opting out, you can text “START” to the provided number. By doing so, you provide your consent to resume receiving text messages from Fit for Life 24.

 

**6. Privacy Policy**

**6.1. Collection and Use of Personal Information** We respect your privacy and are committed to safeguarding your personal information. When you opt-in to our text messaging services, we may collect certain personal information, including your phone number and name, to deliver relevant messages and provide a personalized experience.

**6.2. Sharing of Information** We do not sell, rent, or lease your personal information to any third parties. Your information will only be shared with our trusted service providers and partners who assist us in delivering our text messaging services.

**6.3. Security Measures** We implement industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.

**6.4. Data Retention** We will retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy and to comply with legal obligations.

**6.5. Your Rights** You have the right to access, update, and correct your personal information. To exercise these rights or inquire about your data, please contact us at Fit for Life 24 Ph. # 252-321-2222.

**6.6. Updates to the Privacy Policy** We may update this Privacy Policy from time to time. We will notify you of any material changes to this policy by posting the updated version on our website or sending you a notification via SMS.

 

**7. Limitation of Liability**

7.1. Fit for Life 24 shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages arising from the use or inability to use our text or email messaging notifications.

 

**8. Governing Law**

8.1. These Terms of Service and the Privacy Policy shall be governed by and construed in accordance with the laws of North Carolina.
                    </p>
                    <a href="#" class="button button__flex">
                        Terms & Conditions <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </section>
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer section" id="footer">
            <div class="footer__container container grid">
                <div>
                    <a href="index" class="footer__logo">
                        <img src="{{ url_for('static', filename='images/logo.png')}}" alt="">
                    </a>
                    <p class="footer__description">
                        Get your FREE DAY PASS to experience
                    </p>
                    <p class="footer__description">
                        all that Fit For Life 24 has to offer!
                    </p>
                    <form action="" class="footer__form" id="contact-form">
                        <input type="email" name="user_email" placeholder="Your Email" class="footer__input" id="contact-user">
                        <button type="submit" class="button">
                            GET FREE DAY PASS
                        </button>
                    </form>
                    <p class="footer__message" id="contact-message"></p>
                </div>
                <div class="footer__content">
                    <div>
                        <h3 class="footer__title">
                            LINKS
                        </h3>
                        <ul class="footer__links">
                            <li>
                                <a href="about" class="footer__link">About Us</a>
                            </li>
                            <li>
                                <a href="membership" class="footer__link">Memberships</a>
                            </li>
                            <li>
                                <a href="classes" class="footer__link">Classes</a>
                            </li>
                            <li>
                                <a href="faq" class="footer__link">FAQs</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="footer__title">
                            LOCATIONS
                        </h3>
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">10th Street</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Evans</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Arlington</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Apex</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="footer__title">
                            COMPANY
                        </h3>
                        <ul class="footer__links">
                            <li>
                                <a href="contact" class="footer__link">Contact Us</a>
                            </li>
                            <li>
                                <a href="about" class="footer__link">About Us</a>
                            </li>
                            <li>
                                <a href="privacy" class="footer__link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms" class="footer__link">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="footer__group">
                    <ul class="footer__social">
                        <a href="https://www.facebook.com/fitforlife24/" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="https://twitter.com/ffl24" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/fitforlife24greenvillenc/" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                    </ul>
                    <span class="footer__copy">
                        ©2024 Fit For Life 24 | Digital Marketing and Web Design by East Carolina University Computer Science Students
                    </span>
                </div>
            </div>
        </footer>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src=""></script>

        <!--=============== EMAIL JS ===============-->
        
        
        <!--=============== MAIN JS ===============-->
        <script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
    </body>
</html>